body{
	margin:0;
	padding:0;
	width:100vw;
	overflow: hidden;
}
canvas{
	/*background: linear-gradient(yellow, orange);*/
	margin:0;
	height:420px;
	position: absolute;
	z-index: -12;
}
audio{
	position: absolute;
	top:0px;
	left:0px;
	display: none;
}
#cliff{
	position: absolute;
	width:590px;
	height:400px;
	bottom:0px;
	top:390px;
	left:850px;
	z-index: 20;
}

#eagle{
	position: absolute;
	left:1070px;
	top:270px;
	width:300px;
	height:300px;
	animation:enter 2s forwards;
	z-index: 21;
	fill:gray;
}


@keyframes enter{
	0%{transform:rotateZ(0deg) translate(300px,-250px);}
	100%{transform:rotateZ(0deg) translate(-50px, -30px);}
}
#mountain{
	left:-200px;
	position:absolute;
	top:190px;
	height:400px;
	z-index: -5;
}

#mountains2{
	position: absolute;
	top:190px;
	z-index: -5;
	left:51px;
	height:400px;

}


@keyframes openleft{
	0%{transform:translateX(0px);}
	100%{transform:translateX(-810px);}
}


@keyframes openright{
	0%{transform:translateX(0px);}
	100%{transform:translateX(850px);}
}

@keyframes appear{
	0%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes shake{
	0%{transform:rotateZ(0deg);}
	50%{transform:rotateZ(2deg);}
	100%{transform:rotateZ(-2deg);}
}
#waterReveal{
	position: absolute;
	top:330px;
	left:40px;
	width:1400px;
	height:370px;
	z-index: -13;
}
#tree{
	position: absolute;
	top:470px;
	left:-80px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s alternate infinite;
}

#tree1{
	position: absolute;
	top:488px;
	left:0px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 1s alternate infinite;
}

#tree2{
	position: absolute;
	top:470px;
	left:80px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 2s alternate infinite;
}
#tree3{
	position: absolute;
	top:488px;
	left:160px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 1s alternate infinite;
}
#tree4{
	position: absolute;
	top:470px;
	left:240px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 1s alternate infinite;
}
#tree5{
	position: absolute;
	top:488px;
	left:320px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 3s alternate infinite;
}

#tree6{
	position: absolute;
	top:470px;
	left:400px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 2s alternate infinite;
}

#tree7{
	position: absolute;
	top:488px;
	left:480px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 2s alternate infinite;
}
#tree8{
	position: absolute;
	top:470px;
	left:540px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 3s alternate infinite;
}
#tree9{
	position: absolute;
	top:488px;
	left:600px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s alternate infinite;
}
#tree10{
	position: absolute;
	top:470px;
	left:660px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 1s alternate infinite;
}

#tree11{
	position: absolute;
	top:488px;
	left:720px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 2s alternate infinite;
}
#tree12{
	position: absolute;
	top:470px;
	left:800px;
	width:200px;
	height:300px;
	z-index: 19;
	animation: shake 2s 1s alternate infinite;
}

#grass{
	position: absolute;
	z-index: -10;
	width:1000px;
	height:200px;
	top:590px;
}
#s1{
	animation: appear 2s 1s alternate infinite;
}

.sparkle{
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	position: absolute;
	top:430px;
	background-color: white;
	left:300px;
	z-index: -7;
	width:15px;
	height:15px;
	

}

.sparkle:nth-child(2){
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	position: absolute;
	top:470px;
	background-color: white;
	left:390px;
	z-index: -7;
	width:15px;
	height:15px;
	animation: appear 2s alternate infinite;

}

.sparkle:nth-child(3){
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	position: absolute;
	top:450px;
	background-color: white;
	left:480px;
	z-index: -7;
	width:15px;
	height:15px;
	animation: appear 2s 1s alternate infinite;

}

.sparkle:nth-child(4){
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	position: absolute;
	top:490px;
	background-color: white;
	left:580px;
	z-index: -7;
	width:15px;
	height:15px;
	animation: appear 2s 2s alternate infinite;

}

.sparkle:nth-child(5){
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	position: absolute;
	top:430px;
	background-color: white;
	left:670px;
	z-index: -7;
	width:15px;
	height:15px;
	animation: appear 2s 2s alternate infinite;
}

.sparkle:nth-child(6){
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	position: absolute;
	top:460px;
	background-color: white;
	left:770px;
	z-index: -7;
	width:15px;
	height:15px;
	animation: appear 2s 3s alternate infinite;

}

.sparkle:nth-child(7){
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	position: absolute;
	top:480px;
	background-color: white;
	left:860px;
	z-index: -7;
	width:15px;
	height:15px;
	animation: appear 2s 3s alternate infinite;

}

#reflect{
	position: absolute;
	top:420px;
	left:100px;
	width:1300px;
	height:200px;
	filter: opacity(20%);
	z-index: -8;
}

#leaf{
	position: absolute;
	top:0px;
	left:1180px;
	fill:orange;
	width:50px;
	height:50px;
	animation: float 5s forwards;
	z-index: 25;
}

@keyframes float{
	0%{transform:translateY(-100px) rotateZ(0deg);}
	100%{transform:translateY(600px) rotateZ(360deg);}
	/*100%{transform:rotateZ(30deg) translateY(300px);}*/
}
