/*css for portraits page*/
@font-face{
	font-family: Multicolore;
	src: url(../fonts/Multicolore.otf);
	font-family: Rounded Elegance;
	src: url(../fonts/Rounded_Elegance.ttf);
	font-family: Giorgio-Thin;
	src: url(../fonts/Giorgio-Thin.ttf);

}

body{
	margin:0;
	padding:0;

}

header{
	background-color: #92E6DD;
	padding:30px;
	font-size: 20px;

}
.name{
	color:white;
}
h1{
	font-family: Multicolore;
}
.title{
	color:#92E6DD;
	text-align: center;
	font-size: 40px;
}

a:link, a:visited{
	text-decoration: none;
	color:#92E6DD;
}
a:hover{
	color:gold;
}
a:active{
	color: gray;
}
/*navigation bar*/
.topnav{
	overflow: hidden;
	margin-left: 33em;
	font-family: Giorgio;
}

.topnav a{
	color:white;
	padding:15px;
	float: left;
	text-decoration: none;

}
.topnav a.current{
	color:#707070;
}

.topnav a:hover{
	color:gold;
}

/*middle of page*/
#portraitcontainer{
	padding-bottom: 30px;
	font-family: Multicolore;
	color:#92E6DD;
	font-size: 26px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	grid-template-areas:
	". . t t . l"
	"one one two two three three"
	"four four four five five five"
	"six six sev sev eight eight"
	"nine nine nine ten ten ten"
	"ele ele twe twe thir thir"
	"fourt fourt fourt fift fift fift"
	"sixt sixt sevent sevent eightt eightt"
	"ninet ninet ninet twenty twenty twenty"
	"twenty-1 twenty-1 twenty-2 twenty-2 twenty-3 twenty-3"
	"twe-4 twe-4 twe-4 twe-5 twe-5 twe-5"
	"twe-6 twe-6 twe-7 twe-7 twe-8 twe-8"
	"twe-9 twe-9 twe-10 twe-10 twe-11 twe-11"
	"twe-12 twe-12 twe-13 twe-13 twe-14 twe-14"
	"twe-15 twe-15 twe-16 twe-16 twe-17 twe-17"
	"twe-18 twe-18 twe-19 twe-19 twe-20 twe-20"
    ;

}

#portraittitle{
	margin:30px;
	grid-area:t;
	justify-self:center;
}

span{
	grid-area: l;
	align-self: end;
	font-size: 16px;

}
/*first row*/
.photos{
	justify-self:center;
}

.photos:nth-child(3){
	width:300px;
	height:450px;
	grid-area: one;
	justify-self: flex-end;
}

.photos:nth-child(4){
	width:300px;
	height:450px;
	grid-area: two;
	justify-self: center;
}

.photos:nth-child(5){
	width:300px;
	height:450px;
	grid-area: three;
	justify-self: flex-start;
}
/*second row*/

.photos:nth-child(6){
	width:500px;
	height:400px;
	grid-area: four;
	justify-self: flex-end;
}

.photos:nth-child(7){
	width:500px;
	height:400px;
	grid-area: five;
	justify-self: flex-start;
}
/*third row*/

.photos:nth-child(8){
	width:300px;
	height:450px;
	grid-area: six;
	justify-self: flex-end;
}

.photos:nth-child(9){
	width:300px;
	height:450px;
	grid-area: sev;
	justify-self: center;
}
.photos:nth-child(10){
	width:300px;
	height:450px;
	grid-area: eight;
	justify-self: flex-start;
}

/*fourth row*/
.photos:nth-child(11){
	width:500px;
	height:400px;
	grid-area: nine;
	justify-self: flex-end;
}

.photos:nth-child(12){
	width:500px;
	height:400px;
	grid-area: ten;
	justify-self: flex-start;
}

/*fifth row*/
.photos:nth-child(13){
	width:300px;
	height:450px;
	grid-area: ele;
	justify-self: flex-end;
}

.photos:nth-child(14){
	width:300px;
	height:450px;
	grid-area: twe;
	justify-self: center;
}
.photos:nth-child(15){
	width:300px;
	height:450px;
	grid-area: thir;
	justify-self: flex-start;
}

/*sixth row*/
.photos:nth-child(16){
	width:500px;
	height:400px;
	grid-area: fourt;
	justify-self: flex-end;
}

.photos:nth-child(17){
	width:500px;
	height:400px;
	grid-area: fift;
	justify-self: flex-start;
}
/*seventh row*/
.photos:nth-child(18){
	width:300px;
	height:450px;
	grid-area: sixt;
	justify-self: flex-end;
}

.photos:nth-child(19){
	width:300px;
	height:450px;
	grid-area: sevent;
	justify-self: center;
}
.photos:nth-child(20){
	width:300px;
	height:450px;
	grid-area: eightt;
	justify-self: flex-start;
}

/*eigth row*/
.photos:nth-child(21){
	width:500px;
	height:400px;
	grid-area: ninet;
	justify-self: flex-end;
}

.photos:nth-child(22){
	width:500px;
	height:400px;
	grid-area: twenty;
	justify-self: flex-start;
}

/*nineth row*/
.photos:nth-child(23){
	width:300px;
	height:450px;
	grid-area: twenty-1;
	justify-self: flex-end;
}

.photos:nth-child(24){
	width:300px;
	height:450px;
	grid-area: twenty-2;
	justify-self: center;
}
.photos:nth-child(25){
	width:300px;
	height:450px;
	grid-area: twenty-3;
	justify-self: flex-start;
}

/*tenth row*/
.photos:nth-child(26){
	width:500px;
	height:400px;
	grid-area: twe-4;
	justify-self: flex-end;
}

.photos:nth-child(27){
	width:500px;
	height:400px;
	grid-area: twe-5;
	justify-self: flex-start;
}

/*eleventh row*/
.photos:nth-child(28){
	width:300px;
	height:450px;
	grid-area: twe-6;
	justify-self: flex-end;
}

.photos:nth-child(29){
	width:300px;
	height:450px;
	grid-area: twe-7;
	justify-self: center;
}
.photos:nth-child(30){
	width:300px;
	height:450px;
	grid-area: twe-8;
	justify-self: flex-start;
}
/*twelfth row*/
.photos:nth-child(31){
	width:300px;
	height:450px;
	grid-area: twe-9;
	justify-self: flex-end;
}

.photos:nth-child(32){
	width:300px;
	height:450px;
	grid-area: twe-10;
	justify-self: center;
}
.photos:nth-child(33){
	width:300px;
	height:450px;
	grid-area: twe-11;
	justify-self: flex-start;
}
/*thirteenth row*/
.photos:nth-child(34){
	width:300px;
	height:450px;
	grid-area: twe-12;
	justify-self: flex-end;
}

.photos:nth-child(35){
	width:300px;
	height:450px;
	grid-area: twe-13;
	justify-self: center;
}
.photos:nth-child(36){
	width:300px;
	height:450px;
	grid-area: twe-14;
	justify-self: flex-start;
}

/*fourteenth row*/
.photos:nth-child(37){
	width:300px;
	height:450px;
	grid-area: twe-15;
	justify-self: flex-end;
}

.photos:nth-child(38){
	width:300px;
	height:450px;
	grid-area: twe-16;
	justify-self: center;
}
.photos:nth-child(39){
	width:300px;
	height:450px;
	grid-area: twe-17;
	justify-self: flex-start;
}

/*fifteenth row*/
.photos:nth-child(40){
	width:300px;
	height:450px;
	grid-area: twe-18;
	justify-self: flex-end;
}

.photos:nth-child(41){
	width:300px;
	height:450px;
	grid-area: twe-19;
	justify-self: center;
}
.photos:nth-child(42){
	width:300px;
	height:450px;
	grid-area: twe-20;
	justify-self: flex-start;
}

/*bottom portion*/
footer{
	background-color:black;
	color:white;

}
footer p{
	text-align: center;
}

.copyright{
	padding-bottom:15px;
	margin: 0px;
	font-family: Giorgio-Thin;
}
.insta, .linkedin{
	width:50px;
	margin:15px;

}

.linkedin{
	border-radius: 20px;
}




@media only screen and (max-width:600px){
	.topnav{
		margin:0;
	}
	#portraitcontainer{
		display: block;
		text-align: center;
		
	}
	#h{
		width:350px;
		height: 250px;
	}
	#v{
		width:200px;
		height: 300px;
	}
	span{
		display: block;
    	margin-bottom: 15px;
	}
}

